/* Font */
.pt-sans-narrow-regular {
    font-family: "PT Sans Narrow", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-narrow-bold {
    font-family: "PT Sans Narrow", serif;
    font-weight: 700;
    font-style: normal;
}

/* Variables  */
:root{
    --basic-black: #000000;
    --basic-extra-dark: #1A1A1A;
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;

    --special: #663d15;
}

/* Global */
body {
    font-size: 14px;
    line-height: 24px;
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: 700;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-black);
    background-image: url(/src/img/backgroun-main.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.page a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*  Main navigation */

.main-navigation{
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-white);
    background-color: transparent;
}

/* .main-navigation-wrapper {
    background-color: var(--basic-black);
} */

.site-navigation{
    list-style: none;
}

/* .site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
} */

.site-navigation a,
.user-navigation a {
    color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: var(--basic-extra-dark);
}

/* Advantages */
.advantages-list{
    list-style: none;
}

.advantages-item{
    text-align: center;
}

.advantages-item h3{
    font-size: 30px;
    line-height: 42px;
}

/* Index columns */

/* .index-columns{
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image: url(/src/img/bacground-glich.jpg);
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

РАЗОБРАТЬСЯ С ФОНОВЫМ ИЗОБРАЖЕНИЕМ
 */

.index-columns h2{
    font-size: 30px;
    line-height: 42px;
}

/* Photogallery-content */

.photogallery-content{
    background-color:  var(--basic-extra-dark);
    border: 7px solid var(--basic-white);
}

/* button */

.button{
    font: inherit;  /* отнаследуй фон от родителя */
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-black);
    border: none;
}
